<div class="back">
  <h1 class="col-md-6 col-md-offset-3 text-center back"><%= t ".h1" %></h1>

  <%= render 'form', vidguk: @vidguk %>
  <% back = t ".back" %>
  <%= link_to back, vidguks_path %>
</div>