<div class="col-md-4 col-md-offset-4 back">
  	<h2><%= t ".title" %></h2>
  	<div class="show_h2">
  		<p><%= t ".text-1" %> email -
  		 <strong>some.pochta1@gmail.com</strong><%= t ".text-2" %></p>
	</div>
</div>
