.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;

	.product {
		display: block;
		border: 1px solid #b5e9a7;
		border-radius: 3px;
		position: relative;
		background: #fff;
		margin: 0 20px 20px 0;
		text-decoration: none;
		color: #474747;
		z-index: 0;
		height: 300px;
	}
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.list-group-item{
  margin-top: 30px;
}
.container:after {
  position: absolute;
  content: '';
  width: 95%;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  left: 2.5%;
  bottom: -7px;
  border-radius: 100%;
  filter: blur(2px);
  z-index: -1;
}

.player {
  position: relative;
  background: #282b34;
  border-radius: 0 0 11px 11px;
  overflow: hidden;
}

.player-head {
  position: relative;
  height: auto;
  overflow: hidden;
  font-size: 25px;
  padding: 10px 5px;
}

.player-head:before {
  position: absolute;
  content: '';
  width: 370px;
  height: 10px;
  border-radius: 9px;
  margin-left: 25px;
  margin-top: 10px;
  display: block;
  background: #282b34;
}

.song-cover {
  width: 370px;
  margin-top: 10px;
  border-top: 3px solid #5b0721;
  border-radius: 9px;
}

.player-body {
  position: relative;
  height: 200px;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #282b34;
  background: rgba(255, 255, 255, 0.2);
}

.album-info {
  position: absolute;
  width: 100%;
  top: 0;
}

.album-title {
  display: block;
  font-size: 19px;
  font-weight: bold;
  color: #fffffb;
  padding: 30px 0 5px 0;
  text-transform: uppercase;
}

.song-title {
  display: block;
  font-size: 14px;
  color: #fffffb;
  padding: 15px 0 5px 0;
  text-transform: uppercase;
}

.player-controls {
  display: block;
  color: rgba(255, 255, 255, 1);
  font-size: 31px;
  padding-top: 25px;
  padding-left: 35px;
}

.player-controls i {
  margin-right: 35px;
}

.player-controls i.active {
  color: rgba(255, 255, 255, 0.7);
}

.player-footer {
  height: 90px;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 11px 11px;
}

.player-seekbar {
  position: relative;
  height: 7px;
  background: #ffffff;
}

.player-seekbar:before {
  position: absolute;
  content: '';
  width: 90%;
  display: inline-block;
  height: 3px;
  background: #282b34;
  margin-top: 2px;
}

.player-seekbar:after {
  position: absolute;
  content: '';
  width: 30%;
  display: inline-block;
  height: 3px;
  background: 282b34;
  margin-top: 2px;
}

.player-knot {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  z-index: 9999;
  border: 7px solid #a00035;
  background: #ffffff;
  border-radius: 100%;
  margin-top: -8.5px;
  margin-left: 30%;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

.song-controls {
  height: 100%;
  line-height: 80px;
  overflow: hidden;
}

.song-controls span {
  width: 33.33%;
  height: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}


.song-controls span .fa-play {
  position: absolute;
  font-size: 27px;
  margin-top: 26px;
  margin-left: -11px;
}

.yt {
  position: fixed;
  padding: 7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
  background: rgba(0, 0, 0, 0.2);
}